<header [class.hidden]="isHeaderHidden" class="header">
  <div class="header__content">
    <div class="header__left">
      <h2 class="header__logo">Aqui va un logo</h2>
      <nav class="navbar">
        <a class="navbar__link" (click)="createRecipe()">Create Recipe</a>
      </nav>
    </div>
    <div class="header__right">

      <mat-icon mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </mat-icon>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="createRecipe()">Create Recipe </a>
  </mat-menu>
</header>
