.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #33353d;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  color: white;
  margin-right: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__link {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

.navbar__link.active {
  font-weight: bold;
  text-decoration: underline;
}

.header__right {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search-button {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu-button {
  display: none;
}

@media (max-width: 720px) {
  .navbar {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

