.header {
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(0, 0, 0, 0.03);
  justify-content: space-around;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
}

.header__logo {
  color: #007bff;
}

.navbar {
  display: flex;
  align-items: center;
}

mat-icon {
  color: #007bff;
  background-color: none;
}

@media (max-width: 720px) {
  .header__content {
    padding: unset;
  }

  .header {
    justify-content: space-between;
  }

  .navbar button {
    display: block;
  }
}
