.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgb(76, 76, 153);
  cursor: pointer;

}

.button-container button {
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}


