<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h6>ABOUT</h6>
        <p class="text-justify">A simple web application allows create, update, read, and delete recipes, providing a basic CRUD functionality. It is built using Java Spring Boot and PostgreSQL for the backend,The frontend is developed with Angular, </p>
      </div>

      <div class="footer-section">
        <h6>CATEGORIES</h6>
        <ul class="footer-links">
          <li><a href="#">C</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Android</a></li>
          <li><a href="#">Templates</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h6>QUICK LINKS</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p class="copyright-text">Copyright © 2017 All Rights Reserved by Scanfcode.</p>
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
