<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h6>ABOUT</h6>
        <p class="text-justify">A simple web application allows create, update, read, and delete recipes,
          providing a basic CRUD functionality. It is built using Java Spring Boot and
          PostgreSQL for the backend,The frontend is developed with Angular, </p>
      </div>

    </div>
    <hr>
    <div class="footer-bottom">
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="https://www.linkedin.com/in/darluna"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
