<div class="modal-container">
  <div class="modal-image">
    <img [src]="recipeInfo.imageUrl" alt="{{ recipeInfo.name }}">
  </div>
  <div class="modal-info">
    <h1>{{ recipeInfo.name }}</h1>
    <p>{{ recipeInfo.description }}</p>
    <p><strong>Ingredients:</strong></p>
    <ul>
      <li *ngFor="let ingredient of recipeInfo.ingredients">{{ ingredient }}</li>
    </ul>
    <p><strong>Preparation Time:</strong> {{ recipeInfo.preparationTime }}</p>
    <p><strong>Instructions:</strong></p>
    <p>{{ recipeInfo.instructions }}</p>
    <div mat-dialog-actions class="actions-icon">
      <mat-icon mat-button color="warn" class="trash-icon" (click)="openDeleteConfirmation()">delete_outline</mat-icon>
      <mat-icon mat-button color="primary" class="delete-icon" (click)="openEditRecipe()">edit</mat-icon>
    </div>
  </div>
</div>
