h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: 79vw;
  padding: 20px;
  box-sizing: border-box;
}

.modal-image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload {
  margin-bottom: 20px;
}

.image-upload-label {
  cursor: pointer;
  color: #3f51b5;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-upload-input {
  display: none;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}

.modal-info {
  flex: 2;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buton-form{
  align-items: center;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  margin: 10px 4px;
  cursor: pointer;
  border-radius: 8px;
}

.cancel-button {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}


.trash-bin_icon{
  cursor: pointer;
}
