<div>
  <mat-grid-list cols="4" rowHeight="350px" gutterSize="16px">
    <mat-grid-tile *ngFor="let recipe of recipes">
      <div class="recipe-card" (click)="onRecipeClick(recipe)" (mouseover)="showDetails(recipe)" (mouseleave)="hideDetails(recipe)">
        <img [src]="recipe.imageUrl" alt="{{ recipe.name }}" />
        <div class="recipe-details" *ngIf="isShowingDetails(recipe)">
          <h3>{{ recipe.name }}</h3>
          <p>{{ recipe.recipeType }}</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
