mat-card {
  max-width: 100%;
  cursor: pointer;
}

mat-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 10px 0 5px 0;
}

p {
  margin: 0;
  font-size: 14px;
  color: gray;
}
